.I-InfoMe {
  text-align: center;
  font-size: 42px;
}

.role {
  color: #d60000;
  text-decoration-line: underline;
  text-decoration-color: rgb(0, 0, 0);
  text-decoration-style: solid;
}

.text1 {
  text-align: start;
  border: 8px solid #dfbb37;
  margin-top: 200px;
  margin-bottom: 100px;
  font-size: 22px;
}

.not-all-updates {
  color: red;
}

.image1 {
  border: 8px solid #36004b;
  border-radius: 1000000000000000000px;
}
